<!DOCTYPE html>
<html lang="en">
<head>
    <!-- FOR CONEECTING BOILER PLATE TO HOME FROM HEAD.EJS -->
    <%- include('./partials/head') %>     
    <title>Home page</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    
<!-- CARD FOR CONVERTING ID COMING ON HOME PAGE -->
 <div class="container mt-1 row row-col-3 box-border h-3 w-7 p-3  ">
    <% blogs.forEach(blog => { %>
        <div class="col">
        <div class="card col" style="width: 20rem; height:33rem;">
            <img src="<%= blog.coverImageURL  %>" class="card-img-top border-sky-500" box>
            <div class="card-body">
              <h5 class="card-title"><%= blog.title  %></h5>
              <a href="/blog/<%= blog._id  %>" class="btn btn-primary">View</a>
            </div>
          </div>
          </div>
    <% }) %>
 </div>
    
    

    <%- include('./partials/script') %> 
</body>
</html>