<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>     
    <title>Home - Blogs</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <h1>Latest Blogs</h1>
    <div class="blog-container">
        <% blogs.forEach(blog => { %>
            <div class="blog-card">
                <img src="/uploads/<%= blog.coverImagePath %>" alt="Cover Image">
                <div class="blog-title"><%= blog.title %></div>
                <div class="blog-body"><%= blog.body.substring(0, 100) %>...</div>
                <a href="/blog/<%= blog._id %>" class="read-more">Read More</a>
            </div>
        <% }) %>
    </div>
    <%- include('./partials/script') %> 
</body>
</html>
